    body {
      font-family: sans-serif;
      padding: 20px;
      background: #cc000fd1;
    }
    form {
      background: #fff;
      padding: 0 1rem 1rem;
      border-radius: 8px;
      max-width: 800px;
      margin: 1rem auto;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      font-size: 1em;
      font-weight: bold;
    }
    h2 {
      text-align: center;
    }
    
      ul li {
          line-height: 2em;
          font-size: 1.3em;
      }
      
      a{
          text-decoration: none;
          color: #cc000fd1;
      }
      
      a:visited{
          color: #cc000fd1;
      }
    label, select, button {
      display: block;
      width: 100%;
      margin: 10px 0;
    }
    button {
      padding: 10px;
      background: #cc000fd1;
      color: white;
      border: none;
      border-radius: 5px;
    }

.main1{
    display: flex;
}

.top1{
    border: 0px solid #0dcb4f;
    margin: 10px 0px;
    padding: 0px 15px 0 15px;
    word-wrap: break-word;
    text-align: center;
    height: auto;
    
}

.top1 p {
    padding: 50px 0px;
}

    .top1 h3 {
        display: none;
}


.submain {
    width: 50%;   
    font-family: sans-serif;
    text-align: center; 
    margin: -5px;
    padding: 30px;
    background-color: rgb(244, 244, 244);
}
.submain h1 {
    font-size: 45px;
}

.submain p {
    margin-top: -20px;
    font-size: 25px;
    color: grey;
}

.submain2 {
    width: 50%;
    font-family: sans-serif;
    text-align: center; 
    margin: -5px;
    padding: 20px;
    background-color: rgb(6, 6, 6);
}
.submain2 h1 {
    font-size: 45px;
    color: white;
}
.submain2 h3 {
    margin-top: -30px;
    color: white;
}
.submain2 p {    
    margin-top: -20px;
    font-size: 25px;
    color: grey;
}

.main2 {
    display: flex;
    font-family: sans-serif;
    text-align: center; 
    margin: -5px;
    padding: 20px;
    background-color: rgb(6, 6, 6);
}
.main2 h1 {
    font-size: 45px;
    color: white;
}
.main2 li {
    color: white;
}
.main2 p {    
    color: white;
    margin-top: -20px;
    font-size: 25px;
}

@media screen and (max-width:700px){
form {
    max-width: 100%;
}
   a, p, button, h3, ul li, label, h2{
        font-size: 0.5em;
    }
    img {
    height: 8em;
    width: 8em;

}
    h3{
        max-width: 90%;
    }

    .top1 {
    display: block;
}

    .top1 p {
        display: none;
}

    .top1 h3 {
        display: block;
}
    .main1{
        display: block;
    }

    .submain {
        width: 85%;
    }
    
    .submain2 {
        width: 88%;
    }
    .submain h1 {
        font-size: 20px;
    }
    
    .submain2 h1 {
        font-size: 20px;
    }
    .submain p {
        margin-top: auto;
        font-size: 10px;
    }
    
    .submain2 p {
        margin-top: auto;
        font-size: 10px;
    }


}
