<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Zion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="JAMB, SUCCESS, ANSWER, PAST-QUESTIONS, QUESTION, SOLUTION">
<link rel="icon" href="../static/images/logo.png">
  <link href="../static/css/styles.css" rel="stylesheet" type="text/css">
    <style>
        span {background-color:green; color:white; padding:0.2em}
    </style>
</head>
<body>
    <form id="assessment" action="/start" method="POST">
        <section class="main1">
  <div class="top1">
                  <img src="../static/images/logo.png" width="144" height="143" alt=""/>
                  <h3>... beyound practising; prepares you for SUCCESS!</h3>
                </div>
  <div class="top1">
                    <h1></h1><h2></h2>
                  <p>... beyound practising; prepares you for SUCCESS!</p>
                </div>
  <div class="top1">
                  <p></p>
                </div>
            </section>
        <a><h3 style="text-align:center;padding:0.4em; border:2px dashed green">UPDATES: <span>JAMB</span> past questions available for practising <span>TRY it OUT!!!</span></h3></a>
        <label for="subj">Choose a Subject:</label>
        <select name="subj" id="subj" required>
            <option value="subj1">Chemistry</option>
            <option value="subj2">Physics</option>
            <option value="subj3">Economics</option>
            <option value="subj4">Government</option>
        </select>

        <label for="time">Set Time (minutes):</label>
        <select name="time" id="time" required>
            <option value="30">30 Minutes</option>
            <option value="40">40 Minutes</option>
            <option value="60">60 Minutes</option>
        </select>

        <button type="submit">Start Assessment</button>

        <section class="main1">
        <div class="submain">
          <h1>StudyBased</h1>
            <p>Prepares you by put to test what you have studied</p>
            <div><img src="../static/images/Class1.png" height="350rem" alt="img"></div>
        </div>
        
        <div class="submain2">
            <h1>ExamBased</h1>
            <p>Prepares you for exam with time consciousness!</p>
            <div><img src="../static/images/Class2.png" height="350em" alt="img"></div>
        </div>                
    </section>
    <section class="main2">
        <div>
            <img src="../static/images/support.png" alt="supports" height="80%">
        </div>    
        <div>
            <ul>
            <li>Contact via <a href="https://wa.me/message/BUPMLODTS3ZXM1" target="_blank">WhatsApp</a> or <a href="mailto:dtemilade@gmail.com">email</a> for support </li>
            <li>Keep checking for more update on the site.</li>
        </ul>
        </div>
    </section>        
    <br><hr>
        <a style="text-align: center" href="#assessment"><p>✅ Ready! Let's go take the assessment</p></a>
        
    </form>
</body>
</html>
